.App {
  text-align: center;
}

.header {
 background-color: #464EB8;
 color: white;
 padding-bottom: 10px;
}

.category-panel {
  text-align: left;
  padding: 0;
  margin-top: 0px;
}

.panel-default>.category-header {
  color:#7B83EB;
  margin-top: 0px;
}

label {
  padding-left: 10px;
}

