.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background-color: #6264a7;
  color: white;
  border-bottom: solid 1px #204d74;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.packing-list {
  float: left;
  text-align: left;
  padding: 0px;
}

.container {
  padding: 0px;
}

.packing-list-category {
  color: #464775;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #6264a7;
  font-family: cursive, sans-serif;
  margin-bottom: 0px;
}

.reset-btn {
  color: white;
  background-color: #6264a7;
}

.page-head {
  text-align: right;
  padding-right: 20px;
}

label {
  font-weight: 545;
  padding-left: 10px;
  font-size: medium;
  display: inline;
}